<div
  [style]="containerStylesString"
  class="container"
>

  <div
    *ngFor="let item of items"
    [ngClass]="{'active': item === activeItem}"
    class="item item-{{item.no}}"
    (click)="itemClick(item)"
  ></div>

</div>


<div class="container-styles">

  <div class="table">
    <div
      *ngFor="let item of containerStyles"
      class="row"
    >
      <div class="col">
        <input
          type="checkbox"
          [(ngModel)]="item.selected"
        >
      </div>
      <div class="col">{{item.option.name}}</div>
      <div class="col">

        <select [(ngModel)]="item.value">
          <option
            *ngFor="let style of item.option.options"
            [value]="style"
          >{{style}}</option>
        </select>

      </div>
    </div>
  </div>

</div>


<div
  *ngIf="activeItem "
  class="item-styles"
>

  <div class="table">
    <div
      *ngFor="let item of activeItem.styles"
      class="row"
    >
      <div class="col">
        <input
          type="checkbox"
          [(ngModel)]="item.selected"
        >
      </div>
      <div class="col">{{item.option.name}}</div>
      <div class="col">

        <select [(ngModel)]="item.value">
          <option
            *ngFor="let style of item.option.options"
            [value]="style"
          >{{style}}</option>
        </select>


      </div>
    </div>
  </div>

</div>