<div class="item-styles">

    <div class="table">
        <div
            *ngFor="let item of styles"
            class="row"
        >
            <div class="col check-col">
                <input
                    type="checkbox"
                    [(ngModel)]="item.selected"
                >
            </div>
            <div class="col name-col">{{item.option.name}}</div>
            <div class="col combo-col">

                <select [(ngModel)]="item.value">
                    <option
                        *ngFor="let style of allOptions(item.option)"
                        [value]="style"
                    >{{style}}</option>
                </select>

            </div>
            <div class="col custom-col">

                <input
                    *ngIf="item.isCustom"
                    [(ngModel)]="item.customValue"
                />

            </div>
        </div>
    </div>

</div>