body {
    font-family: Arial, sans-serif;
}

.container {
    border: 1px solid black;
}

.item {
    box-sizing: border-box;

    &.active {        
        border: 2px solid red;
    }
}

.action-panel {
    margin-top: 20px;
    margin-bottom: 10px;

    .btn {
        margin-right: 10px;
    }
}

.btn {
    border: 2px solid darkblue;
    padding: 10px;
    font-weight: bold;

    cursor: pointer;
}

.item-styles {
    

    .table {
        display: table;

        .row {
            display: table-row;

            .col {
                display: table-cell;
            }
        }
    }
}

.container-styles {
    

    .table {
        display: table;

        .row {
            display: table-row;

            .col {
                display: table-cell;
            }
        }
    }
}

.styles-layout {
    display: table;
    width: 100%;

    .title {
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .l,
    .r {
        display: table-cell;
    }
}
