
.container {

    border: 1px solid red;    
    


}

.item {
    border: 1px solid blue;
    height: 400px;

    width: 200px;

    &.active {
        border-width: 3px;
    }
}

.item-styles {
    border: 2px solid black;

    .table {
        display: table;

        .row {
            display: table-row;

            .col {
                display: table-cell;
            }
        }
    }
}

.container-styles {
    border: 2px solid black;

    .table {
        display: table;

        .row {
            display: table-row;

            .col {
                display: table-cell;
            }
        }
    }
}